In [1]:
from fbprophet import Prophet
from fbprophet.plot import plot_plotly
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.offline as py
py.init_notebook_mode()
%matplotlib inline

Output hidden; open in https://colab.research.google.com to view.

In [2]:
#connect with gdrive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#this is the dataset location which is shown in video
'''
dataset= pd.read_csv('/content/drive/My Drive/day8/avocado.csv')
'''
#now you have to use below one as you already created Data folder shortcut in My Drive
dataset= pd.read_csv('/content/drive/My Drive/day8/avocado.csv')

In [4]:
dataset.head()

   Unnamed: 0        Date  AveragePrice  ...          type  year  region
0           0  2015-12-27          1.33  ...  conventional  2015  Albany
1           1  2015-12-20          1.35  ...  conventional  2015  Albany
2           2  2015-12-13          0.93  ...  conventional  2015  Albany
3           3  2015-12-06          1.08  ...  conventional  2015  Albany
4           4  2015-11-29          1.28  ...  conventional  2015  Albany

[5 rows x 14 columns]

In [5]:
dataset.tail()

       Unnamed: 0        Date  AveragePrice  ...     type  year            region
18244           7  2018-02-04          1.63  ...  organic  2018  WestTexNewMexico
18245           8  2018-01-28          1.71  ...  organic  2018  WestTexNewMexico
18246           9  2018-01-21          1.87  ...  organic  2018  WestTexNewMexico
18247          10  2018-01-14          1.93  ...  organic  2018  WestTexNewMexico
18248          11  2018-01-07          1.62  ...  organic  2018  WestTexNewMexico

[5 rows x 14 columns]

In [6]:
dataset.shape

(18249, 14)

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    18249 non-null  int64
 1   Date          18249 non-null  object
 2   AveragePrice  18249 non-null  float64
 3   Total Volume  18249 non-null  float64
 4   4046          18249 non-null  float64
 5   4225          18249 non-null  float64
 6   4770          18249 non-null  float64
 7   Total Bags    18249 non-null  float64
 8   Small Bags    18249 non-null  float64
 9   Large Bags    18249 non-null  float64
 10  XLarge Bags   18249 non-null  float64
 11  type          18249 non-null  object
 12  year          18249 non-null  int64
 13  region        18249 non-null  object
dtypes: float64(9), int64(2), object(3)
memory usage: 1.9+ MB

In [8]:
dataset.select_dtypes(include=['object'])

             Date          type            region
0      2015-12-27  conventional            Albany
1      2015-12-20  conventional            Albany
2      2015-12-13  conventional            Albany
3      2015-12-06  conventional            Albany
4      2015-11-29  conventional            Albany
...           ...           ...               ...
18244  2018-02-04       organic  WestTexNewMexico
18245  2018-01-28       organic  WestTexNewMexico
18246  2018-01-21       organic  WestTexNewMexico
18247  2018-01-14       organic  WestTexNewMexico
18248  2018-01-07       organic  WestTexNewMexico

[18249 rows x 3 columns]

In [9]:
dataset.columns.tolist()

['Unnamed: 0',
 'Date',
 'AveragePrice',
 'Total Volume',
 '4046',
 '4225',
 '4770',
 'Total Bags',
 'Small Bags',
 'Large Bags',
 'XLarge Bags',
 'type',
 'year',
 'region']

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dataset.iloc[:,10] = le.fit_transform(dataset.iloc[:,10])
dataset.head(2)

   Unnamed: 0        Date  AveragePrice  ...          type  year  region
0           0  2015-12-27          1.33  ...  conventional  2015  Albany
1           1  2015-12-20          1.35  ...  conventional  2015  Albany

[2 rows x 14 columns]

In [11]:
X= dataset[['Date','Total Volume', '4046', '4225', '4770','Small Bags', 'Large Bags', 'XLarge Bags', 'type']]
y= dataset.iloc[:,1]

In [12]:
type(X['Date'])

pandas.core.series.Series

Creating the data set for Prophet

As mentioned earlier, input to Prophet is a data frame with minimum two columns : ds and y

In [32]:
train_dataset= pd.DataFrame()
train_dataset['ds'] = pd.to_datetime(X["Date"])
train_dataset['y']=y
train_dataset.head(2)

          ds           y
0 2015-12-27  2015-12-27
1 2015-12-20  2015-12-20

In [14]:
type(train_dataset['ds'][0])

pandas._libs.tslibs.timestamps.Timestamp

Creating and fitting the Prophet model with default values

We will first explore the default Prophet model. Create the Prophet instance with all default values, fit the dataset.

In [15]:
train_dataset.shape

(18249, 2)

In [16]:
train_dataset.tail()

              ds           y
18244 2018-02-04  2018-02-04
18245 2018-01-28  2018-01-28
18246 2018-01-21  2018-01-21
18247 2018-01-14  2018-01-14
18248 2018-01-07  2018-01-07

In [31]:
prophet_basic = Prophet()
prophet_basic.fit(train_dataset)

ValueError: ignored

Predicting the values for the future

For predicting the values using Prophet, we need to create a dataframe with ds(datetime stamp) containing the dates for which we want to make the predictions.

We use make_future_dataframe() to which we specify the number of days to extend into the future. By default it includes dates from the history

In [ ]:
future= prophet_basic.make_future_dataframe(periods=300, include_history = True)
future.tail(2)

In [28]:
future.shape

(469, 1)

In [29]:
forecast=prophet_basic.predict(future)

Exception: ignored

Plotting the predicted data

In [30]:
fig1 =prophet_basic.plot(forecast)

NameError: ignored